version: '3'
services:
  app:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: ['sh', '-c', 'yarn && yarn dev']
    ports:
      - 3000:3000
    depends_on:
      - db
  db:
    image: postgres:14.5-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - 5432:5432
volumes:
  node_modules:
  db:
